.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialog  a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.messages {
    padding: 10px;
}

.message {
}